<div class="card dish-card">
  <div class="card-body text-center">
    <span class="badge" style="position: absolute; top: 10px; left: 10px;">{{ dish.type }}</span>
    <img [src]="dish.photo" alt="Dish Image" class="img-fluid mb-3">
    <h5>{{ dish.name }}</h5>
    <p>{{ dish.description }}</p>
    <div class="btn_price">
      <strong>{{ dish.price }} $</strong>
      <button class="btn_cart" (click)="onAddToCart($event)">
        Add To Cart
        <img src="./assets/cart.png" alt="Cart" class="cart-pic">
      </button>
    </div>
  </div>
</div>
