
<div class="cart-container">
    <div class="title">
        <h2>Your Cart</h2>
    </div>
    
    <div *ngIf="cartItems.length === 0" class="empty-cart">
        <p>Your cart is empty ! Buy something to start a cart.</p>
        <img src="./assets/cart_picture.jpg" alt="cart_picture" class="cart-image">
        <button class="return-home" (click)="goToHome()">Buy Something</button>
    </div>
    
    <div *ngIf="cartItems.length > 0">
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.photo" alt="{{ item.name }}" class="cart-item-image">
        <div class="cart-item-details">
          <h4>{{ item.name }}</h4>
          <p>Price: ${{ item.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
          <button class="remove-btn" (click)="removeFromCart(item.id)">-</button>
          <button class="add-btn" (click)="addAgainToCart(item.id)">+</button>
        </div>
      </div>
  
      <div class="cart-total">
        <h3>Total: ${{ getTotalPrice() }}</h3>
        <button class="checkout-btn" (click)="checkout()">
          Checkout
          <img src="./assets/dollar-pic.png" alt="Cart" class="dollar-pic">
        </button>
      </div>
      <div class="empty-cart">
        <h3>Something is missing ?</h3>
        <button class="return-home" (click)="goToHome()">Buy More Things</button>
      </div>
      
    </div>
  </div>
  