<div class="profile-container">
    <div class="profile-card" [class.show]="!editOpen">
      <div class="profile-header">
        <img class="profile-pic" [src]="user.profilePhoto" alt="Profile Photo">
        <h2>{{ user.username }}</h2>
        <p>Joined {{ user.joinDate }}</p>
        <h3>Personal Informations</h3>
      </div>
  
      <div class="profile-details">
        
        <p><strong>Email:</strong> {{ user.mail }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p>
          <strong>Password:</strong>
          <input
              [type]="showPassword ? 'text' : 'password'"
              [value]="user.password"
              readonly
          />
          <button (click)="togglePassword()">{{ showPassword ? 'Hide' : 'Show' }}</button>
        </p>
      </div>
  
      <div class="profile-actions">
        <button class="edit-btn" (click)="editProfile()">Edit Profile</button>
        <button class="orders-btn" (click)="seeOrders()"[textContent]="ordersText"></button>
      </div>
      
    </div>
    <div class="order-option" [class.show]="editOpen">
      <app-edit-profile 
       [user]="user" (editComplete)="editOpen = false"></app-edit-profile>
    </div>
    <div class="order-option" [class.show]="ordersOpen">
        <app-orders-list></app-orders-list>
    </div>
</div>
  