/* dish-list.component.css */
.dessert-list-container {
    max-height: 83vh; /* Set the max height for mobile, adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20%;
    
  }
  
  
  /* Styling the scrollbar */
.dessert-list-container::-webkit-scrollbar {
    width: 8px;
    scroll-behavior: smooth;
}
  
.dessert-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Lightly visible thumb */
    border-radius: 4px;
}
  
.dessert-list-container::-webkit-scrollbar-track {
    background: transparent;
}

/*header bottom with selection type dish*/

.bottom-fixed-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 430px;
  height: 60px;
  background: linear-gradient(to top, #32ff5e 85%, #d2d2d2);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Keep the header on top */
}
.dish-options ul {
  list-style-type: none;
  padding: 10px 20px;
  display: flex; 
  gap: 25px; 
}

.dish-options ul li {
  margin: 10px 0;
}

.dish-options ul li a {
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-size:18px;
  padding: 10px 10px;
}

.dish-options ul li a.active {
  border-bottom: 2px solid black; /* Add underline for the active item */
}
