html, body {
  height: 100%; /* Ensure the body fills the full height */
  overflow: hidden; /* Prevent scrolling */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-overlay {
  background-image: url('/assets/login_photo.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant-name {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.login-box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #32ff5e;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #32ff5e;
  outline: none;
}

.password_input{
  display :flex;
}
.show-password-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 0.9em;
  padding: 0;
  margin-left: 8px;
}

.login-btn {
  background-color: #32ff5e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #28d054;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: #32ff5e;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
