<div class="about-container">
    <h1>About Us</h1>
    <p>Welcome to our restaurant! We are passionate about providing delicious dishes made from the finest ingredients.</p>

    <h2>Our Mission</h2>
    <p>We aim to deliver a delightful dining experience with an emphasis on fresh, local produce and innovative culinary techniques.</p>

    <h2>Our Story</h2>
    <p>Founded in 2024, our restaurant was born out of a love for food and community. We strive to make every meal memorable!</p>

    <h2>Find Us</h2>
    <div class="contact-info">
        <a href="https://maps.app.goo.gl/fDN2f1xjAGKDDiQh8" target="_blank">
            <img src="./assets/map.png" alt="map" class="map-img">
        </a>
    </div>
</div>
