
<div class="starter-list-container">
    <div *ngFor="let starter of starters">
      <app-dish [dish]="starter"></app-dish>
    </div>
</div>
<header class="bottom-fixed-header">
  
  <div class="dish-options">
    <ul>
      <li><a routerLink="/starters" routerLinkActive="active">Starters</a></li>
      <li><a routerLink="/dishes" routerLinkActive="active">Main Dishes</a></li>
      <li><a routerLink="/desserts" routerLinkActive="active">Desserts</a></li>
    </ul>
  </div>       
  
</header> 
  