.orders-list-container {
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 10px;
    
  }
  
  .order-group {
    margin-bottom: 20px;
  }
  
  .order-items {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    flex-direction: column ;
    
  }
  
  .order-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .order-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .order-details h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .order-details p {
    margin: 5px 0;
    color: #555;
  }
  
  .order-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  